* {
    padding: 0%;
    margin: 0%;
}

.nav {
    display: flexbox;
}

.homeicon {
    border-radius: 90%;
    width: 4%;
    float: right;
    margin-top: 1%;
    margin-right: 1%;
}

.logo {
    border-radius: 50%;
    width: 130px;
    margin: 5% 0% 0% 45%;
}

.myname {
    color: blue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 14px;
    margin: 1% 0% 0% 39%;
}

.mynamespan {
    color: rgb(192, 75, 32);
}

.section {
    margin: 2% 0% 0% 11%;
    display: flex;
}

.sectnav {
    width: 30%;
}

.imagesectnav {
    width: 90%;
    height: 80%;
}

.fade-in-image {
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.navlink {
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 14px;
    margin: 2% 0% 0% 25%;
}

.footer {
    background-color: black;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: underline;
    margin-top: 80%;
    text-align: center;
}

.fade-in-text {
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.videos {
    margin-top: 10%;
}

@media only screen and (max-width:500px) {
    .logo {
        width: 70px;
        border: 2px solid black;
        margin-left:45%;
    }
    .myname {
        font-size: 10px;
        margin-left: 25%;
    }
    .section {
        margin: 2%;
        padding: 0%;
    }
    .sectnav {
        margin: 2%;
        padding: 0%;
    }
    .imagesectnav {
        height: 50%;
        width: 100%;
    }
    .navlink {
        font-size: 9px;
        margin: 2%;
    }
    sup {
        font-size: 5px;
    }
    .footer{
    font-size:10px;
        margin-top:600px;
    }
}
